<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar cliente</title>
</head>
<body>

    <%- include('../../partials/navbar'); %>    

    <br/><div class="container text-center">
        
        <h1>Editar cliente <strong><%= datosC.Nombre %></strong></h1><br/>

        <form action="/updateCliente/<%= datosC._id %>" method="post">

            <div class="form-group">
                <label for="Nombre">Nombre: </label>
                <input class="form-control" type="text" name="nombre" value="<%= datosC.Nombre %>" placeholder="Nombre cliente"><br/><br/>
            </div>
            
            <div class="form-group">
                <label for="Telefono">Telefono: </label>
                <input class="form-control" type="number" name="telefono" value="<%= datosC.Telefono %>" placeholder="Numero de telefono"><br/><br/>
            </div>|

            <div class="form-group">
                <label for="Direccion">Direccion: </label>
                <input class="form-control" type="text" name="direccion" value="<%= datosC.Direccion %>" placeholder="Direccion del cliente"><br/><br/>
            </div>

            <div class="form-group">
                <label for="totalComprado">Total Comprado: </label>
                <input class="form-control" type="number" name="totalComprado" value="<%= datosC.TotalComprado %>" placeholder="Total comprado por el cliente"><br/><br/>
            </div>

            <div class="form-group">
                <label for="Historial">Historial compras: </label>
                <input class="form-control" type="text" name="historial" value="<%= datosC.HistorialCompras %>" placeholder="Historial de compras"><br/><br/>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>

        </form>
    </div><br/>

    <%- include('../../partials/footer'); %>
    
</body>
</html>