<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar vendedores</title>
</head>
<body>

    <%- include('../../partials/navbar'); %>

    <br/><div class="container text-center">
        
        <h1>Editar vendedor <strong><%= datos.Nombre %></strong></h1><br/>

        <form action="/updateVend/<%= datos.Documento %>" method="post">

            <div class="form-group">
                <label for="Nombre">Nombre: </label>
                <input class="form-control" type="text" name="Nombre" value="<%= datos.Nombre %>" ><br/><br/>
            </div>

            <div class="form-group">
                <label for="Documento">Documento: </label>
                <input class="form-control" type="text" name="Documento" value="<%= datos.Documento %>"><br/><br/>
            </div>
            

            <button type="submit" class="btn btn-primary">Enviar</button>

        </form>
    </div><br/>

    <%- include('../../partials/footer'); %>
    
</body>
</html>